#map {
  width: 600px;
  height: 600px;
  position: relative;
  top: 40px;
  left: 40px;
}
.find {
  width: 280px;
  height: 600px;
  top: -560px;
  left: 700px;
  outline: 1px solid red;
  position: relative;
}

.weather-lable {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 5%;
  margin-left: 10px;
  margin-top: 10px;
}
.place-lable {
  margin: 0;
  position: absolute;
  top: 1%;
  left: 5%;
  margin-left: 10px;
  margin-top: 10px;
}
.weather-forecast {
  margin: 0;
  position: absolute;
  top: 16%;
  left: 5%;
  margin-left: 10px;
  margin-top: 10px;
}
.history-lable {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 5%;
  margin-left: 10px;
  margin-top: 10px;
}
.select {
  width: 300%;
  height: 100%;
  margin: 0 0px 0 0px;
  position: absolute;
  top: 100%;
  left: 0;
}
